:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    height: 3rem;
    background-color:aqua;
    width: 100%;
    z-index: 999;
}

.header__logo-wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    .small-screen__menu-icon {
        height: 3rem;
        width: 3rem;
        background-image: url("./images/menu.svg");
        background-size: 1.5rem 1.5rem;   
        background-position: 50%; 
        background-repeat: no-repeat;
    }

    .header-logo {
        width: 4.2rem;
        height: 1rem;
        background-image: url("./images/logo.svg");
        background-size: auto auto;   
        background-position: center;
    }

}

main {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-top: 3rem;

}

.main__logo-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    margin-top: 5em;

    .main-logo {
        height: 60px;
        width: 220px;
        background-image: url("./images/logoBig.svg");
        background-repeat: no-repeat;
        background-size: 400px;
        margin: 0 auto;
        }
    
    .main-motto {
        margin: 1rem 0 0 0;
        font-weight: normal;
        font-size: 1.2rem;
    }
}

.showcase-wrapper {
    display: flex;
    flex-direction: row;
    height: 20rem;
    max-width: 100vw;
    scroll-snap-type: x mandatory;
    overflow: auto auto;

    .showcase {
        display: block;
        flex: 0 0 85vw;
        max-width: 80vw;
        scroll-snap-align: center;
        object-position: 50% 50%;
        margin: 1rem;
        object-fit: cover;
        object-position: 50% 0%;
        }


}

.festival-wrapper {
    margin: 1rem;
    height: 15rem;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .festival-img {
        max-width: 100vw;
        flex: 0 0 96vw;
    }
}

.article-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background: #f7f8f8;


    .article-title {
        align-self: center;
    }
}

.articles {
    display: flex;
    flex-direction: column;
}

.article {

    display: flex;
    text-decoration: none;
    color: black;
    margin: .5rem 0;


    .article-no{
        font-size: 2rem;
        color: rgba(204,0,153,.8);
        margin: 0 1rem;
        height: 2rem;
        line-height: .8;
        letter-spacing: 0;
    }

    .article-text {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1;
        margin: 0;

    }

}

.stories-wrapper {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .stories-title {
        align-self: center;
    }

    .story {
        display: flex;
    }

    .story-img__wrapper {
        flex-basis: 25%;
        margin-right: 1.5rem;
    }

    .image-container {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        height: 0;
        padding-bottom: 100%;
    }

    .story-img {
        position: absolute;
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        object-position: 50% 50%;
        background-position: 50% 50%;
        background-size: cover;
        object-fit: cover;
    }

    .story-text__wrapper {
        flex: 1 1 0%
    }

    .stories-button {
        margin-top: 3rem;
        background-color: rgb(0,204,204);
        color: white;
        border-radius: 1.5rem;
        height: 2.5rem;
        width: 80vw;
        border-style: none;
        align-self: center;
    }
}

.channels-wrapper {
    display: flex;
    flex-direction: column;

    .channels-title__wrapper {
        align-self: center;
    }

    .channels {
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow: auto auto;
    }

    .channel-img {
        margin: .5rem;
    }
}

.newsletter-wrapper {
    margin: 2rem auto;
    position: relative;
    width: 100vw;
    height: 40vh;



    .newsletter-background {
        background-image: url("./images/newsletter.webp");
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-attachment: fixed;
        background-position: 50%;
    }

}

.watch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .watch-thumbnail-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .watch-big-thumbnail {
        background-image: url("./images/watch/watchBig.jpg");
        width: auto;
        height: auto;
    }

    .watch-small-wrapper {
        display: flex;
        flex-direction: row;
        scroll-snap-type: x mandatory;
        overflow: auto auto;
    }

    .watch-small {

        img {
            width: 30vw;
            margin: .5rem;
        }
    }
}