:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  height: 3rem;
  background-color: white;
  width: 100%;
  z-index: 999;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-wrapper .small-screen__menu-icon {
  height: 3rem;
  width: 3rem;
  background-image: url("./images/menu.svg");
  background-size: 1.5rem 1.5rem;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .header__logo-wrapper .small-screen__menu-icon {
    display: none;
  }
}

.header__logo-wrapper .header-logo {
  width: 4.2rem;
  height: 1rem;
  background-image: url("./images/logo.svg");
  background-size: auto auto;
  background-position: center;
  -webkit-filter: invert(81%) sepia(7%) saturate(253%) hue-rotate(186deg) brightness(85%) contrast(84%);
          filter: invert(81%) sepia(7%) saturate(253%) hue-rotate(186deg) brightness(85%) contrast(84%);
}

@media (min-width: 1024px) {
  .header__logo-wrapper .header-logo {
    -webkit-filter: none;
            filter: none;
  }
}

.named-links {
  display: none;
}

.named-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.named-links li {
  margin: .4rem;
}

.named-links a {
  color: grey;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .named-links {
    display: block;
  }
}

.mail-link {
  width: 1.5rem;
  color: gray;
}

.mail-link svg {
  fill: #8d93a1;
}

main {
  padding-top: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightgrey), color-stop(1%), to(white));
  background-image: linear-gradient(180deg, lightgrey 0%, 1%, white);
}

.main__logo-wrapper {
  width: 80vw;
  margin: 0 auto;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .main__logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5rem auto;
  }
}

.main__logo-wrapper .main-logo {
  height: 60px;
  width: 220px;
  background-image: url("./images/logoBig.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  margin: 1rem 0;
}

.main__logo-wrapper .main-motto {
  margin: 1rem 0 0 0;
  font-weight: normal;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .main__logo-wrapper .main-motto {
    font-size: 2rem;
    margin: 0;
  }
}

.showcase-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20rem;
  max-width: 100vw;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow: auto auto;
}

@media (min-width: 768px) {
  .showcase-wrapper {
    position: relative;
    width: 90%;
    margin: 1.2rem auto;
    display: -ms-grid;
    display: grid;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    scroll-snap-align: unset;
    overflow: none;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (192px)[4];
        grid-template-rows: repeat(4, 192px);
    -webkit-column-gap: 3px;
            column-gap: 3px;
    row-gap: 10px;
    height: auto;
        grid-template-areas: "big big"  "big big" "second fifth" "third forth";
  }
}

@media (min-width: 1024px) {
  .showcase-wrapper {
    position: relative;
    width: 90%;
    margin: 1.2rem auto;
    display: -ms-grid;
    display: grid;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    scroll-snap-align: unset;
    overflow: none;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (116px)[5];
        grid-template-rows: repeat(5, 116px);
    gap: .5rem;
    height: auto;
        grid-template-areas: "big big big big second second third third" "big big big big second second third third" "big big big big forth forth forth forth"   "fifth fifth fifth fifth forth forth forth forth"  "fifth fifth fifth fifth forth forth forth forth";
  }
}

.showcase-wrapper .showcase {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85vw;
          flex: 0 0 85vw;
  max-width: 80vw;
  scroll-snap-align: center;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

@media (min-width: 768px) {
  .showcase-wrapper .showcase {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .showcase-wrapper .showcase_big {
    grid-area: big;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

.showcase-wrapper .showcase_festival {
  display: none;
}

@media (min-width: 768px) {
  .showcase-wrapper .showcase_festival {
    display: block;
    grid-area: fifth;
  }
}

@media (min-width: 768px) {
  .showcase-wrapper .showcase_second {
    display: block;
    grid-area: second;
  }
}

@media (min-width: 768px) {
  .showcase-wrapper .showcase_third {
    display: block;
    grid-area: third;
  }
}

@media (min-width: 768px) {
  .showcase-wrapper .showcase_forth {
    display: block;
    grid-area: forth;
  }
}

.festival-wrapper {
  margin: 1rem;
  height: 15rem;
  max-width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .festival-wrapper {
    display: none;
  }
}

.festival-wrapper .festival-img {
  max-width: 100vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96vw;
          flex: 0 0 96vw;
}

.article-wrapper {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .article-wrapper {
    width: 90%;
    margin: 1rem auto;
  }
}

.article-wrapper .article-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: grey;
}

.articles {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .articles {
    width: 100%;
    margin: 1rem auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  margin: .5rem 0;
}

.article .article-no {
  font-size: 2rem;
  color: rgba(204, 0, 153, 0.8);
  margin: 0 1rem;
  height: 2rem;
  line-height: .8;
  letter-spacing: 0;
}

.article .article-text {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.stories-wrapper {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stories-wrapper .stories-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .stories-wrapper .stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.stories-wrapper .story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .stories-wrapper .story {
    width: 48%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: .5rem .4rem;
  }
}

@media (min-width: 1024px) {
  .stories-wrapper .story {
    width: 23%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: .5rem .4rem;
  }
}

.stories-wrapper .story-img__wrapper {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .stories-wrapper .story-img__wrapper {
    margin: 0;
  }
}

.stories-wrapper .image-container {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
}

@media (min-width: 768px) {
  .stories-wrapper .image-container {
    border-radius: 0;
    padding-bottom: 50%;
  }
}

.stories-wrapper .story-img {
  position: absolute;
  height: 90%;
  width: 90%;
  background-position: 50% 50%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .stories-wrapper .story-img {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
  }
}

.stories-wrapper .story-text__wrapper {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  width: 90%;
}

.stories-wrapper .stories-button {
  margin-top: 3rem;
  background-color: #00cccc;
  color: white;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 80vw;
  border-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.channels-wrapper {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .channels-wrapper {
    width: 90%;
  }
}

.channels-wrapper .channels-title__wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.channels-wrapper .channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow: auto auto;
}

.channels-wrapper .channel-img {
  margin: .5rem;
}

.newsletter-wrapper {
  margin: 2rem auto;
  position: relative;
  width: 100%;
  height: 40vh;
}

.newsletter-wrapper .newsletter-background {
  background-image: url("./images/newsletter.webp");
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

.watch-wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .watch-wrapper {
    width: 90%;
  }
}

.watch-wrapper .watch-thumbnail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .watch-wrapper .watch-thumbnail-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.watch-wrapper .watch-big-thumbnail {
  width: 100%;
  height: auto;
}

.watch-wrapper .watch-big-thumbnail img {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}

.watch-wrapper .watch-small-wrapper {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: auto auto;
}

.watch-wrapper .watch-small-wrapper .watch-small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .watch-wrapper .watch-small-wrapper .watch-small-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow: auto auto;
  }
}

.watch-wrapper .watch-small-wrapper .watch-small img {
  width: 90%;
  min-width: 200px;
  margin-bottom: .5rem;
  margin-left: .5rem;
}

@media (min-width: 768px) {
  .watch-wrapper .watch-small-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow: auto auto;
  }
}
/*# sourceMappingURL=style.css.map */